@for (player of game.players; track playerList; let i = $index;){
<app-player class="player-position" [ngStyle]="{'top.px': 60 + (i * 80)}" [name]="player"
    [playerActive]="i == game.currentPlayer"></app-player>
}


<div class="game-screen">
    <div class="card-stack">

        @for (count of [0,1,2,3]; track cardlist; let i = $index;){
        <img [ngStyle]="{'right.px': i * 5}" src="/assets/img/cards/card_cover.png" alt="">
        }
        <img (click)="takeCard()" class="top-card" style="right: 25px;" src="/assets/img/cards/card_cover.png" alt="">

        @for (card of game.playedCard; track cardlist){
        <img class="played-card" src="/assets/img/cards/{{ card }}.png" alt="">
        }

        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 25px;"
            src="/assets/img/cards/{{ currentCard }}.png" alt="">


    </div>
</div>

<app-game-info [card]="currentCard" class="pin-bottom"></app-game-info>

<button (click)="openDialog()" mat-fab color="primary" class="btn-add">
    <mat-icon>add</mat-icon>
</button>